/* Her ser du omtrent samme kode mange steder, og det er fordelt i ID. Jeg gjorde det om til klasser, men det fungerte ikke. 
Jeg tror dette er på grunn av at jeg skrev ikke alle verdiene selv i Adobe XD, og derfor ble verdiene litt annerledes på hver av figurene og pga. alt står tett sammen på nettsiden så blir det for vanskelig å endre på alt slik at denne CSS koden psser inn.*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Duelists {
	position: absolute;
	width: 1519px;
	height: 5650px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Duelists;
	--web-view-id: Duelists;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rektangler_do {
	position: absolute;
	width: 1519px;
	height: 5650px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rektangel_p_toppen_dp {
	fill: rgba(232,58,41,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rektangel_p_toppen_dp {
	overflow: visible;
	position: absolute;
	width: 1519px;
	height: 118.96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rektangel_p_siden_dq {
	fill: rgba(232,58,41,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rektangel_p_siden_dq {
	overflow: visible;
	position: absolute;
	width: 139.838px;
	height: 5531.04px;
	left: 0px;
	top: 118.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Bilder_dr {
	position: absolute;
	width: 89.7px;
	height: 69.354px;
	left: 24.492px;
	top: 25.191px;
	overflow: visible;
}
#Path_1_ds {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1_ds {
	overflow: visible;
	position: absolute;
	width: 60.592px;
	height: 69.354px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_dt {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2_dt {
	overflow: visible;
	position: absolute;
	width: 37.425px;
	height: 49.305px;
	left: 52.276px;
	top: 1.485px;
	transform: matrix(1,0,0,1,0,0);
}
#Det_at_en_karakter_tilhrer_kla {
	left: 224px;
	top: 288px;
	position: absolute;
	overflow: visible;
	width: 1183px;
	height: 5354px;
	line-height: 35px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(55,55,55,1);
}
#Duelists_ {
	left: 224px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Yoru_ {
	left: 299px;
	top: 4698px;
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Phoenix_ {
	left: 299px;
	top: 3680px;
	position: absolute;
	overflow: visible;
	width: 153px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Raze_ {
	left: 299px;
	top: 2613px;
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Reyna {
	left: 299px;
	top: 470px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Jett_ {
	left: 299px;
	top: 1435px;
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Group_8 {
	position: absolute;
	width: 1449.912px;
	height: 564.509px;
	left: 10.196px;
	top: 47.746px;
	overflow: visible;
}
#Hjemmeside_d {
	left: 1313.913px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(216,216,216,1);
}
#Valorant_d {
	left: 1152.604px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(216,216,216,1);
}
#Valorant_ea {
	left: 14px;
	top: 126.953px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Runde_1_d {
	left: 16.287px;
	top: 187.728px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Karakterer_d {
	left: 3px;
	top: 293.407px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Runde_23_d {
	left: 6.141px;
	top: 232.631px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Duelists_d {
	left: 16px;
	top: 354.182px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Initiators_d {
	left: 12.287px;
	top: 475.733px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Controllers_ea {
	left: 0px;
	top: 536.509px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Sentinels_eb {
	left: 11.141px;
	top: 414.958px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Reynabilde {
	position: absolute;
	width: 64px;
	height: 66px;
	left: 224px;
	top: 470px;
	overflow: visible;
}
#Jettbilde {
	position: absolute;
	width: 64px;
	height: 61px;
	left: 224px;
	top: 1435px;
	overflow: visible;
}
#Razebilde {
	position: absolute;
	width: 64px;
	height: 66px;
	left: 224px;
	top: 2613px;
	overflow: visible;
}
#Phoenixbilde {
	position: absolute;
	width: 64px;
	height: 65px;
	left: 224px;
	top: 3680px;
	overflow: visible;
}
#Yorubilde {
	position: absolute;
	width: 64px;
	height: 65px;
	left: 224px;
	top: 4698px;
	overflow: visible;
}

/* Under: animasjoner for navbaren */

#Group_8 a:hover::after {
    width: 100%;
}

#Group_8 a::after {
    content: '';
    width: 0%;
    height: 4px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#Group_8 a:hover::after {
    background-color: blue;
}

#Group_8 div:after {
    content: '';
    width: 0%;
    background: blue;
    display: block;
    margin: auto;
    transition: 1s;
}

#Group_8 a {
	text-decoration: none;
	color: white;
}

#Spillmodus_glemt {
	left: 0px;
	top: 597.509px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}