/* Her ser du omtrent samme kode mange steder, og det er fordelt i ID. Jeg gjorde det om til klasser, men det fungerte ikke. 
Jeg tror dette er på grunn av at jeg skrev ikke alle verdiene selv i Adobe XD, og derfor ble verdiene litt annerledes på hver av figurene og pga. alt står tett sammen på nettsiden så blir det for vanskelig å endre på alt slik at denne CSS koden psser inn.*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Initiators {
	position: absolute;
	width: 1519px;
	height: 3696px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Initiators;
	--web-view-id: Initiators;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rektangler_fc {
	position: absolute;
	width: 1519px;
	height: 3696px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rektangel_p_toppen_fd {
	fill: rgba(232,58,41,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rektangel_p_toppen_fd {
	overflow: visible;
	position: absolute;
	width: 1519px;
	height: 118.96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rektangel_p_siden_fe {
	fill: rgba(232,58,41,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rektangel_p_siden_fe {
	overflow: visible;
	position: absolute;
	width: 139.838px;
	height: 3577.041px;
	left: 0px;
	top: 118.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Bilder_ff {
	position: absolute;
	width: 89.7px;
	height: 69.354px;
	left: 24.492px;
	top: 25.191px;
	overflow: visible;
}
#Path_1_fg {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1_fg {
	overflow: visible;
	position: absolute;
	width: 60.592px;
	height: 69.354px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_fh {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2_fh {
	overflow: visible;
	position: absolute;
	width: 37.425px;
	height: 49.305px;
	left: 52.275px;
	top: 1.485px;
	transform: matrix(1,0,0,1,0,0);
}
#Initiators_ {
	left: 223px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Initiators_er_agentklassen_som {
	left: 223px;
	top: 291px;
	position: absolute;
	overflow: visible;
	width: 1183px;
	height: 3405px;
	line-height: 35px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(55,55,55,1);
}
#Sova_ {
	left: 304px;
	top: 1090px;
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#KAYO_ {
	left: 304px;
	top: 1820px;
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Skye_ {
	left: 304px;
	top: 2804px;
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Breach_ {
	left: 304px;
	top: 503px;
	position: absolute;
	overflow: visible;
	width: 129px;
	height: 85px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(55,55,55,1);
}
#Group_6 {
	position: absolute;
	width: 1449.912px;
	height: 564.509px;
	left: 11.196px;
	top: 45.746px;
	overflow: visible;
}
#Hjemmeside_fp {
	left: 1313.913px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(216,216,216,1);
}
#Valorant_fq {
	left: 1152.604px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(216,216,216,1);
}
#Valorant_fr {
	left: 14px;
	top: 126.953px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Runde_1_fs {
	left: 16.286px;
	top: 187.728px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Karakterer_ft {
	left: 3px;
	top: 293.407px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Runde_23_fu {
	left: 6.141px;
	top: 232.631px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Duelists_fv {
	left: 16px;
	top: 354.182px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Initiators_fw {
	left: 12.286px;
	top: 475.733px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Controllers_fx {
	left: 0px;
	top: 536.509px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Sentinels_fy {
	left: 11.141px;
	top: 414.958px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}
#Breachbilde {
	position: absolute;
	width: 64px;
	height: 62px;
	left: 223px;
	top: 503px;
	overflow: visible;
}
#Sovabilde {
	position: absolute;
	width: 64px;
	height: 63px;
	left: 223px;
	top: 1090px;
	overflow: visible;
}
#Kayobilde {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 223px;
	top: 1820px;
	overflow: visible;
}
#Skyebilde {
	position: absolute;
	width: 64px;
	height: 62px;
	left: 223px;
	top: 2804px;
	overflow: visible;
}

#Spillmodus_glemt {
	left: 0px;
	top: 597.509px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(216,216,216,1);
}

/* Under: animasjoner for navbaren */

#Group_6 a:hover::after {
    width: 100%;
}

#Group_6 a::after {
    content: '';
    width: 0%;
    height: 4px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#Group_6 a:hover::after {
    background-color: blue;
}

#Group_6 div:after {
    content: '';
    width: 0%;
    background: blue;
    display: block;
    margin: auto;
    transition: 1s;
}

#Group_6 a {
	text-decoration: none;
	color: white;
}